<p>contact works!</p>
<p>Your query parameter is : {{queryVal}}</p>
<div>
  <input type="text" placeholder="search by gender" [(ngModel)]="filterText" (keyup)="filterContactData(filterText)">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Marks (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of filteredContactsData;let i=index">
        <td>{{i+1}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.gender|uppercase}}</td>
        <td>{{contact.marks | percentage:totalMarks:2}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addNewContact()">Add New Contact</button>
</div>
