<p>home works!</p>
<div class="help-form" >
  <h1 class="form-title">Registration Form</h1>
  <form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmit()">
    <div class="form-wrapper">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter your name" name="name" formControlName="name" >
      <!-- <div>
        <small class="error-message" *ngIf="name.invalid && name.touched">Name is Required</small>
      </div> -->
      <div>
        <small class="error-message" *ngIf="reactiveForm.get('name')?.touched  && reactiveForm.get('name')?.errors?.['required']">name required</small>
        <small class="error-message" *ngIf="reactiveForm.get('name')?.errors?.['noSpaceAllowed']">No space allowed</small>
      </div>

    </div>
    <div class="form-wrapper">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Enter your Email" name="email" formControlName="email">
      <div >
        <small class="error-message" *ngIf="!reactiveForm.get('email')">email is not verified</small>

      </div>
    </div>
    <div class="form-wrapper">
      <label>Address</label>
      <textarea class="form-control" placeholder="Enter your address" name="address" formControlName="address"></textarea>
    </div>
    <div class="form-wrapper">
      <label>Phone</label>
      <input type="text" class="form-control" placeholder="Enter your phone" formControlName="phone">
    </div>
    <div class="form-wrapper radio">
      <label>Qualification : </label>
      <div>
      <label for="HS">
        HS
        <input type="radio" name="qualification" id="HS" value="HS" formControlName="qualification">
      </label>
      <label for="Graduate">
        Graduate
        <input type="radio" name="qualification" id="Graduate" value="Graduate" formControlName="hobbies">
      </label>
      <label for="Post-graduate">
        Post-graduate
        <input type="radio" name="qualification" id="Post-graduate" value="Post-graduate">
      </label>
    </div>
    </div>
    <div class="form-wrapper checkbox">
      <label>Hobbies :</label>
      <div>
      <label for="sports">
        Sports
        <input type="checkbox" name="Hobbies" id="sports" value="sports">
      </label>
      <label for="coding">
        Coding
        <input type="checkbox" name="Hobbies" id="coding"  value="coding">
      </label>
      <label for="Movies">
        Movies
        <input type="checkbox" name="Hobbies" id="Movies"  value="Movies">
      </label>
    </div>
    </div>
    <div>
      <button type="button">Set default value</button>
      <button type="button">Set Name</button>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
 </div>
